In [41]:
#1)Convert x=5 into a floating-point number.

x=5
print(float(x))

5.0

In [43]:
#2)Get the result characters from index 2 to index 4.

txt = "Hello World"
print(txt[2:5])

llo

In [47]:
#3)Return the string without any whitespace at the beginning or the end.

txt = "  Hello World  "
print(txt.strip())

Hello World

In [46]:
#4) Replace the character H with a J.

txt = "Hello World"
print(txt.replace("H","J"))

Jello World

In [48]:
#5) Insert the correct syntax to add a placeholder for the age parameter.
#Please print out: My name is John, and I am 26.

age = 26
print("My name is John, and I am %d."%(age))

My name is John, and I am 26.

In [49]:
#6) Use the insert method to add "lemon" as the second item in the fruits.

fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
fruits

['apple', 'lemon', 'banana', 'cherry']

In [61]:
#7) Slicing this tuple to print: ('cherry', 'orange', 'kiwi').

fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
fruits[2:5]

('cherry', 'orange', 'kiwi')

In [50]:
#8)add "kiwi" to the fruits
fruits = {"apple", "banana", "cherry", "orange"}
fruits.add("kiwi")
print(fruits)

#Use the correct method to add multiple items (more_fruits) to the fruits set.
more_fruits = ["orange", "mango", "grapes"]
fruitsset=fruits.union(more_fruits)
print(fruitsset)

#remove "banana" from the fruits set.
fruitsset.remove("banana")
print(fruitsset)

{'kiwi', 'apple', 'cherry', 'banana', 'orange'}
{'apple', 'cherry', 'banana', 'mango', 'grapes', 'orange', 'kiwi'}
{'apple', 'cherry', 'mango', 'grapes', 'orange', 'kiwi'}

In [51]:
#9) car = {"brand": "Ford", "model": "Explore", "year": 2006}
#Use the get method to print the value of the "model" key of the car dictionary.
car = {"brand": "Ford", "model": "Explore", "year": 2006}
x=car.get("model")
print(x)

#Change "year" from 2006 to 2020
car["year"] = 2020
print(car)

#Use the pop method to remove "model" from the car dictionary.
car.pop("model")
print(car)

Explore
{'brand': 'Ford', 'model': 'Explore', 'year': 2020}
{'brand': 'Ford', 'year': 2020}

In [94]:
#10) Use the format method to print: The price is 39.00 dollars
price = 39
print("The price is {:.2f} dollars".format(price))

The price is 39.00 dollars

In [52]:
#11) Print out: I want 3 pieces of item number 127 for 39.00 dollars.

quantity = 3
itemno = 127
price = 39
print("I want {} pieces of item number {} for {:.2f} dollars.".format(quantity,itemno,price))

I want 3 pieces of item number 127 for 39.00 dollars.

In [98]:
#12) Remove duplicate elements from a List: mylist=[1,3,1,6,9,3,7,8,9,2,8,5]
mylist=[1,3,1,6,9,3,7,8,9,2,8,5]
list(set(mylist))

[1, 2, 3, 5, 6, 7, 8, 9]

In [105]:
#13) Perform different set operations:

M = {0, 2, 4, 6, 8, 10}
N = {1, 2, 3, 4, 5, 7, 8, 9}
print("Union of M and N is", M.union(N))
print("Intersection of M and N is", M.intersection(N))
print("Difference of M and N is", M.difference(N))
print("Symmetric difference of M and N is",M.symmetric_difference(N))

Union of M and N is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of M and N is {8, 2, 4}
Difference of M and N is {0, 10, 6}
Symmetric difference of M and N is {0, 1, 3, 5, 6, 7, 9, 10}

In [53]:
#1) Iterate over a dictionary using for loop and print out.       1 point

dt = {'a': 'time', 'b': 'money', 'c': 'health'}
for x,y in dt.items():
    print(x,y)

a time
b money
c health

In [116]:
#2) Access index of a list using for loop and print out the list with its index.              3 points
#Result:
# 0 21
# 1 31
# 2 41
# 3 51
# 4 61
# 5 71
# 6 81

mylist = [21, 31, 41, 51, 61, 71, 81]
for x in mylist:
    print(mylist.index(x),x)

0 21
1 31
2 41
3 51
4 61
5 71
6 81

In [3]:
#3) A list: mylist = [[8], [3, 2], [1, 3, 4, 5]]. 
#Use three approaches to make this list flattened as: [8, 3, 2, 1, 3, 4, 5]: 
# a) list comprehension; b) nested for loops; c) lambda.    12 points

mylist = [[8], [3, 2], [1, 3, 4, 5]]
#a)
newlist=[y for x in mylist for y in x ]
print(newlist)

#b)
newlist=[]
for x in mylist:
    for y in x:
        newlist.append(y)
print(newlist)

#c)
mylist = [[8], [3, 2], [1, 3, 4, 5]]
list(map(lambda y:y,[y for x in mylist for y in x]))

[8, 3, 2, 1, 3, 4, 5]
[8, 3, 2, 1, 3, 4, 5]

[8, 3, 2, 1, 3, 4, 5]

In [74]:
#4) A list: mylist = [1,2,3,4,5,6,7,8,9,10]. 
#Use list comprehension to split this list into evenly sized chunks.             5 points
mylist = [1,2,3,4,5,6,7,8,9,10]

newlist=[list(x) for x in zip(mylist[:5], mylist[5:])]
print(newlist)

[[1, 6], [2, 7], [3, 8], [4, 9], [5, 10]]

In [348]:
#5) Given strings as below, count the number of each vowels:           8 points

vowels = 'aeiou'
new_str = 'Hello, how many hours have you spent on your courseware and practice every day?'
for x in vowels:
    if x in new_str:
        print(x,new_str.count(x))

a 6
e 8
i 1
o 7
u 4

In [34]:
#6) Remove all punctuations from a string: "Hello!!!, how are you? -Hope doing well ~)."
#And print out the string without any punctuation.            5 points

String = "Hello!!!, how are you? -Hope doing well ~)."
remove = "!,?-~)."
newstring = ""
for char in String:
    if char not in remove:
        newstring = newstring + char
print(newstring)

Hello how are you Hope doing well

In [83]:
#7) Sort alphabetically the words form a string: 
#“Virus surge hits New England despite high vaccination rates”. 
#And print out the sorted words one by one.  5 points

string = "Virus surge hits New England despite high vaccination rates"
newstring = string.split(" ")
sorted(newstring)

['England',
 'New',
 'Virus',
 'despite',
 'high',
 'hits',
 'rates',
 'surge',
 'vaccination']

In [322]:
#8) Convert Celsius to Fahrenheit and display it.         4 points

#The formula is: Celsius * 1.8 = Fahrenheit - 32
#The output (format) should be:
#36.5 Celsius degree is equal to 97.7 Fahrenheit degree.

def fah(c):
    f=c*1.8+32
    return f
print("{} Celsius degree is equal to {} Fahrenheit degree.".format(36.5,fah(36.5)))

36.5 Celsius degree is equal to 97.7 Fahrenheit degree.

In [139]:
#9) If a, b and c are three sides of a triangle. Then, the area of a triangle can be calculated as:     4 points

#s=(a+b+c)/2
#area = √(s(s-a)*(s-b)*(s-c))
#Now, we have a=5, b=6,c=7. Please write a program to calculate the area of this triangle.

import math
def area(a,b,c):
    s=(a+b+c)/2
    result=math.sqrt((s*(s-a)*(s-b)*(s-c)))
    return result
area(5,6,7)

14.696938456699069

In [101]:
#10) Use 2 nested loops to add two 3x3 arrays and print out the results in a matrix style (3 rows and 3 columns)         5 points

X = [[9,2,3],
     [4,5,6],
     [8,2,1]]
Y = [[9,8,2],
     [3,7,3],
     [6,5,1]]
Matrix=[[0,0,0],
        [0,0,0],
        [0,0,0]]
for x in range(len(X)):
    for y in range(len(X[0])):
        Matrix[x][y]=X[x][y]+Y[x][y]
for i in Matrix:
    print(i)

[18, 10, 5]
[7, 12, 9]
[14, 7, 2]

In [116]:
#11) Use a list comprehension to repeat the above question.            5 points
X = [[9,2,3],
     [4,5,6],
     [8,2,1]]
Y = [[9,8,2],
     [3,7,3],
     [6,5,1]]
Matrix = [[X[x][y]+Y[x][y] for y in range(len(X[0]))] for x in range(len(X))]
for i in Matrix:
    print(i)

[18, 10, 5]
[7, 12, 9]
[14, 7, 2]

In [84]:
#12) Print a multiplication table of 8:               5 points

#8 x 1 = 8,
#……..  
#8 x 10 = 80

for y in range(1,11):
    print("%s x %s = %s"%(8,y,8*y))

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [166]:
#13) Write a program to print out the factorial of 6.               5 points
def fun(x):
    if x==1:
        return 1
    return x*fun(x-1)
fun(6)

720

In [85]:
#14) Use while-loop to calculate the sum of natural numbers up to number=20.      5 points
def sum(x):
    sum=0
    while 0<x<=20:
        sum=x+sum
        x=x-1
    return sum
sum(20)

210

In [91]:
#15) Define a function to calculate the GCD (greatest common divisor) of two numbers and print out the result 
#when these two numbers are 64 and 24.        5 points
def GCD(x,y):
    if y==0:
        return x
    else:
        return GCD(y,x%y)
GCD(64,24)

8

In [1]:
#16) Define a function to calculate the LCM (least common multiple) of two numbers and print out the result when 
#these two numbers are 64 and 24.       8 points
def LCM(x,y):
    def GCD(x,y):
        if y==0:
            return x
        else:
            return GCD(y,x%y)
    s=(x*y)/GCD(x,y)
    return int(s)
LCM(64,24)

192

In [21]:
#17) Print all prime numbers between 900 and 1000.            5 points

for n in range(900,1001):
    for i in range(2,n):
            if (n%i) == 0:
                break
    else:
        print(n)

907
911
919
929
937
941
947
953
967
971
977
983
991
997